.container--grid-centered {
  justify-content: center;
}
.container--grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
.container--grid-column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.container--grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.container--grid-column-5 {
  grid-template-columns: repeat(5, 1fr);
}
.container--grid-column-6 {
  grid-template-columns: repeat(6, 1fr);
}
.container--grid-column-7 {
  grid-template-columns: repeat(7, 1fr);
}
.container--grid-column-8 {
  grid-template-columns: repeat(8, 1fr);
}
@media screen and (max-width: 1024px) {
  .container--grid-column-2,
  .container--grid-column-3,
  .container--grid-column-4,
  .container--grid-column-5,
  .container--grid-column-6,
  .container--grid-column-7,
  .container--grid-column-8 {
    grid-template-columns: repeat(2, 1fr);
  }
}
