.icon {
  align-items: center;
  display: flex;
  font-size: 4rem;
  height: 8rem;
  justify-content: center;
  width: 8rem;
  &-outline {
    border-width: 1px;
    border-style: solid;
    &--primary {
      border-color: var(--color-primary);
    }
    &--secondary {
      border-color: var(--color-secondary);
    }
    &--accent1 {
      border-color: var(--color-accent1);
    }
    &--accent2 {
      border-color: var(--color-accent2);
    }
    &--accent3 {
      border-color: var(--color-accent3);
    }
    &--white {
      border-color: var(--color-white);
    }
    &--black {
      border-color: var(--color-black);
    }
    &--light {
      border-color: var(--color-light);
    }
    &--dark {
      border-color: var(--color-dark);
    }
  }

  &--rounded {
    border-radius: 100%;
    /* width: 80%; */
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    /* padding: 1rem; */
    // margin: 1rem;
  }
  &--xs {
    width: 4.5rem;
    height: 4.5rem;
  }
  &--sm {
    width: 6rem;
    height: 6rem;
  }
  &--md {
    width: 7.5rem;
    height: 7.5rem;
  }
  &--lg {
    width: 9rem;
    height: 9rem;
  }
  &--xl {
    width: 10.5rem;
    height: 10.5rem;
  }
  &--xxl {
    width: 13rem;
    height: 13rem;
  }
}
.icon .icon__image {
  // max-width: 6rem;
  // padding: 1rem;
  width: 100%;
}

.icon--small {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}
.icon--flat {
  border-radius: 0;
}
.icon--primary {
  color: var(--color-primary);
}

.icon--primary-bg {
  background: var(--color-primary);
  color: var(--color-accent-1);
}
.icon--secondary-bg {
  background: var(--color-accent-1);
  color: var(--color-secondary);
}
.icon--primary-alt {
  background: var(--color-accent-1);
  color: var(--color-primary);
}

.icon--secondary {
  color: var(--color-secondary);
}

.icon--secondary-alt {
  background: var(--color-secondary);
  color: var(--color-accent-1);
}
.icon--primary-outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.icon--secondary-outline {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
