.progress-bar {
  width: 100%;
  background: var(--bg-secondary);
  height: 1.2rem;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-primary);
  display: block;
  position: relative;
  &__fill {
    background: var(--color-primary);
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    border-radius: 10px;
    // width: calc(100% - 6px);
  }
}
