.font {
  &-size {
    &-xs {
      font-size: 0.8rem;
    }
    &-sm {
      font-size: 1rem;
    }
    &-md {
      font-size: 2rem;
    }
    &-lg {
      font-size: 3rem;
    }
    &-xl {
      font-size: 4rem;
    }
    &-xxl {
      font-size: 5rem;
    }
  }
}

.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
