.w-25 {
  width: 25%;
}
.w-33 {
  width: 33%;
}
.w-50 {
  width: 50%;
}
.w-66 {
  width: 66%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}

// SPACING UTILITY MODIFIERS
$sizes: ("xs", "sm", "md", "lg", "xl", "xxl");
@for $j from 1 through length($sizes) {
  $size: nth($sizes, $j);

  .p-#{$size} {
    padding: var(--spacing-#{$size});
  }
  .pt-#{$size} {
    padding-top: var(--spacing-#{$size});
  }
  .pr-#{$size} {
    padding-right: var(--spacing-#{$size});
  }
  .pb-#{$size} {
    padding-right: var(--spacing-#{$size});
  }
  .pl-#{$size} {
    padding-left: var(--spacing-#{$size});
  }

  .m-#{$size} {
    margin: var(--spacing-#{$size});
  }
  .mt-#{$size} {
    margin-top: var(--spacing-#{$size});
  }
  .mr-#{$size} {
    margin-right: var(--spacing-#{$size});
  }
  .mb-#{$size} {
    margin-bottom: var(--spacing-#{$size});
  }
  .ml-#{$size} {
    margin-left: var(--spacing-#{$size});
  }
  .br-#{$size} {
    border-radius: var(--spacing-#{$size});
  }
  .border-#{$size} {
    border-width: var(--spacing-#{$size});
  }
}
.flex {
  &-in-sb {
    display: flex;
    justify-content: space-around;
  }
}
// COLOR UTILITY MODIFIERS
$themes: (
  "primary",
  "secondary",
  "accent1",
  "accent2",
  "accent3",
  "white",
  "black",
  "light",
  "dark"
);

@for $j from 1 through length($themes) {
  $theme: nth($themes, $j);

  // Background classes
  .bg-#{$theme} {
    background: var(--color-#{$theme});
  }

  // Color classes
  .color-#{$theme},
  .list__icon--#{$theme},
  .list__item.color-#{$theme} a {
    color: var(--color-#{$theme});
  }

  // Border Outlined classes
  .outlined-#{$theme} {
    border: 1px solid var(--color-#{$theme});
  }

  //Border Color classes
  .border-color-#{$theme} {
    border-color: var(--color-#{$theme});
  }
  body .hover\:color-#{$theme}:hover {
    //color: var(--color-#{$theme});
    color: var(--color-#{$theme});
  }
  .before\:bg-#{$theme}:before {
    //color: var(--color-#{$theme});
    background: var(--color-#{$theme});
  }
}

.border {
  &-solid {
    border-style: solid;
  }
  &-dashed {
    border-style: dashed;
  }
  &-dotted {
    border-style: dotted;
  }
}

.box-shadow {
  &-1 {
    box-shadow: var(--box-shadow-1);
  }
  &-2 {
    box-shadow: var(--box-shadow-2);
  }
  &-3 {
    box-shadow: var(--box-shadow-3);
  }
}
