@use "../base/variables" as var;
@use "./border" as border;
@use "./box-shadow" as box-shadow;

// SPACING Modifier Classes ie. .p-sm, .border-xxl

@for $j from 1 through length(var.$sizes) {
  $size: nth(var.$sizes, $j);
  //Paddings
  .p-#{$size} {
    padding: var(--spacing-#{$size});
  }
  .pt-#{$size} {
    padding-top: var(--spacing-#{$size});
  }
  .pr-#{$size} {
    padding-right: var(--spacing-#{$size});
  }
  .pb-#{$size} {
    padding-right: var(--spacing-#{$size});
  }
  .pl-#{$size} {
    padding-left: var(--spacing-#{$size});
  }

  //Margins
  .m-#{$size} {
    margin: var(--spacing-#{$size});
  }
  .mt-#{$size} {
    margin-top: var(--spacing-#{$size});
  }
  .mr-#{$size} {
    margin-right: var(--spacing-#{$size});
  }
  .mb-#{$size} {
    margin-bottom: var(--spacing-#{$size});
  }
  .ml-#{$size} {
    margin-left: var(--spacing-#{$size});
  }
  //Border Radius
  .br-#{$size} {
    border-radius: var(--spacing-#{$size});
  }
  //Border
  .border-#{$size} {
    border-width: var(--spacing-#{$size});
  }
}

// THEME Classes ie.  .bg-primary, .color-secondary
@for $j from 1 through length(var.$themes) {
  $theme: nth(var.$themes, $j);

  // Background classes
  .bg-#{$theme} {
    background: var(--color-#{$theme});
  }

  // Color classes
  .color-#{$theme},
  .list__icon--#{$theme},
  .list__item.color-#{$theme} a {
    color: var(--color-#{$theme});
  }

  // Border Outlined classes
  .outlined-#{$theme} {
    border: 1px solid var(--color-#{$theme});
  }

  //Border Color classes
  .border-color-#{$theme} {
    border-color: var(--color-#{$theme});
  }

  //Hover Classes ie. hover:color-primary
  body .hover\:color-#{$theme}:hover {
    //color: var(--color-#{$theme});
    color: var(--color-#{$theme});
  }

  //Overlay Classes ie. div.before:bg-primary
  .before\:bg-#{$theme}:before {
    //color: var(--color-#{$theme});
    background: var(--color-#{$theme});
  }

  //Btn Classes
  .btn-solid-#{$theme} {
    background: var(--color-#{$theme});
    color: var(--color-white);
  }
  .btn-outline-#{$theme} {
    border-color: var(--color-#{$theme});
    color: var(--color-#{$theme});
  }
}
