@use "base" as *;
@use "abstracts/animations" as animations;
@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;
//@use "abstracts/index" as *;
@use "components/index" as *;
@use "modifiers" as modifiers;

@use "layouts" as *;
@use "animations/index" as *;

.bento--content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Optional: For centering content */
  justify-content: center;
  align-items: center;
  color: white; /* Example styling */
}
