@use "../base/variables" as var;
//before:bg-${theme} is in modifier.scss

[class*="before:"] {
  position: relative;
  //z-index: -2;
  &::before {
    content: "";
    //z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
  }
}

@for $j from 1 through length(var.$incrementsOf5) {
  $val: nth(var.$incrementsOf5, $j);
  .opacity-#{$val},
  .before\:opacity-#{$val}:before {
    opacity: #{calc($val / 100)};
  }
}

@for $j from 1 through length(var.$themes) {
  $theme: nth(var.$themes, $j);

  //Hover Classes ie. hover:color-primary
  body .hover\:color-#{$theme}:hover {
    //color: var(--color-#{$theme});
    color: var(--#{$theme});
  }

  //Overlay Classes ie. div.before:bg-primary
  .before\:bg-#{$theme}:before {
    //color: var(--color-#{$theme});
    background: var(--#{$theme});
  }
}
