/** TYPOGRAPHY WIDTH MODIFIERS **/
.width-ch20 {
  width: 20ch;
}
.width-ch30 {
  width: 30ch;
}
.width-ch40 {
  width: 40ch;
}
.width-ch50 {
  width: 50ch;
}
.width-ch60 {
  width: 60ch;
}
.width-ch70 {
  width: 70ch;
}
.width-ch80 {
  width: 80ch;
}

/** MAIN NAV **/
.nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-list .list__item {
  line-height: 1.5;
}

/** LINKS **/
a {
  text-decoration: none;
}

/* .container--dark {
  position: relative;
  color: var(--color-light);
}

.container--dark::before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.container--flex {
  display: flex;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}

/** EXTRA CSS for Development **/
.routeNav {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--text-color-primary);
  margin-bottom: 3rem;
}

.routeNav a {
  color: var(--text-color-primary);
}
