/** TYPOGRAPHY WIDTH MODIFIERS **/
.width-ch20 {
  width: 20ch;
}
.width-ch30 {
  width: 30ch;
}
.width-ch40 {
  width: 40ch;
}
.width-ch50 {
  width: 50ch;
}
.width-ch60 {
  width: 60ch;
}
.width-ch70 {
  width: 70ch;
}
.width-ch80 {
  width: 80ch;
}

/** MAIN NAV **/
.nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-list .list__item {
  line-height: 1.5;
}

/** LINKS **/
a {
  text-decoration: none;
}

/* .container--dark {
  position: relative;
  color: var(--color-light);
}

.container--dark::before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.container--flex {
  display: flex;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}

/** EXTRA CSS for Development **/
.routeNav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--text-color-primary);
  display: none;
}

.routeNav a {
  color: var(--text-color-primary);
}

.main-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  display: flex;
  text-transform: uppercase;
  margin: 0;
}
.main-nav a {
  color: var(--primary);
  cursor: pointer;
}
.main-nav-logo img {
  max-width: 250px;
}

.main-nav-mobile-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 20px;
  display: none;
}
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    padding-bottom: 5px;
  }
  .main-nav-logo {
    order: -1;
  }
  .main-nav-mobile-toggle {
    display: block;
  }
  .main-nav-logo img {
    margin-left: -20px;
    padding-right: 40px;
  }
}
