@use "../base/variables" as *;

// ROOT
:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-light: #{$light};
  --color-accent-1: #{$accent-1};
  --color-accent-2: #{$accent-2};
  --color-heading: #{$heading};
  --color-body: #{$body};
  //Sizing to REM
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 3.5rem;
}
