// COLORS
$colorPrimary: var(--color-primary) !default;
$colorSecondary: var(--color-secondary) !default;
$textColorPrimary: var(--text-color-primary) !default;
$textColorSecondary: var(--text-color-secondary) !default;

$sizes: xs, sm, md, lg, xl, xxl;
$sizing: ("xs", "sm", "md", "lg", "xl", "xxl");
// COLOR UTILITY MODIFIERS
$themes: (
  "primary",
  "secondary",
  "accent1",
  "accent2",
  "accent3",
  "white",
  "black",
  "light",
  "dark",
  "gradient-1",
  "gradient-2",
  "gradient-3"
);
// $light: #fafafa !default;
// $accent-1: #e2dbd4 !default;
// $accent-2: #651b15 !default;
// $heading: #145650 !default;
// $body: #333333 !default;
$incrementsOf5: (
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100
);

$colors: (
  "primary": $colorPrimary,
  "secondary": $colorSecondary,
  // "accent-1": $accent-1,
  // "accent-2": $accent-2,
  // "heading": $heading,
  // "body": $body,
  // "light": $light,,,,,,,,,,,,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$sizes-as-rem: (
  xs: var(--spacing-xs),
  sm: var(--spacing-sm),
  md: var(--spacing-md),
  lg: var(--spacing-lg),
  xl: var(--spacing-xl),
  xxl: var(--spacing-xxl),
);
